.Category
  overflow hidden
  list-style none
  margin-top 1rem
  padding 0
  display flex
  justify-content space-around
  .item
    .btn-category
      width 30vw
      background none
      border none
      outline none
      border-bottom 2px transparent solid
      color gris
      font-size 1.3rem
      font-weight 300
      padding 1.6rem 0
      transition color .4s
      .text
        display none
      &:hover
        color rgba(negro, .5)
        border-color rgba(gris, .5)
      &.active
        color negro
        border-color verde
        
      
      
.Menu
  border transparent solid 1px
